{% extends 'website/base.html' %}
{% load static %}              
{% block title %}Register{% endblock %}                                                                                                                           
{% block content %}
    <link rel="stylesheet" href="{% static 'website/forms.css' %}">        
    <div>
    <form id="form-register" method="post" target="_self">    
            {% csrf_token %}   
            <h1>Register</h1>  
            <p>In order to access all features</p>
            <h1>Username</h1>  
            {{form.username}}  
            <h1>Password</h1>  
            {{form.password}}  
            <h1>Repassword</h1>
            {{form.repassword}}

            <p style="color:red;font-size: clamp(1rem, 1vw, 4rem);padding-top: 1vw;">{{error}}</p>                                                             
        <button type="submit">Register</button>
        <a href="/login">you aldery have a account</a>
    </form>
    </div>
{% endblock %}
      

