*{
    padding:0px;
    margin:0px;
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}

.top-iteams-container{
    display: flex;
}

.top-iteams-container > div:nth-child(1){
    width:80%;
    text-align: center;
}

.bottom-iteams-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 3vh 0vw;
}

.bottom-iteams-container a {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 1vw;
  transform: translateY(10%);
}

#add_book_pop_up h1 {
  transform: translateY(10%);
}

.bottom-iteams-container a img{
    height: 2vw;
}

#add_book_pop_up{
    display: flex;
  align-items: center;
  gap: 1vw;
}

#add_book_pop_up img{
    height: 2vw;
}

.top-iteams-container h1{
    font-size: 6rem;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
}

.top-iteams-container h3{
    font-size: 3rem;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2vh;
}

footer h1 {
    text-align: center;
    padding-top: 8vh;
    font-size: 2rem;
    font-family: "Kranky", serif;
    font-weight: 400;
}
